body{
    font-family: 'Poppins', sans-serif;
margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.orange{
    color: orange;
}
.flexible-section{
    display: flex;
    margin-bottom: 10%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.banner-top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);    
    padding: 10px 40px;
    color: white;
    border-radius: 25px;
}
.dream-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience-item{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
.full-stack{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 1;
}
.baby-web{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
    color: gray;
}